# NumPy - Pandas Assignment
__Author__ : Sara sadat Nasr + 99222109

__Course__ : Undergraduate Numerical Analysis Course

In this assignment, you will be working with a dataset of daily temperatures.

The dataset is provided in a CSV file called temperatures.csv.

## 1. NumPy Tasks:

### Part a)
Load the temperatures.csv file into a Numpy array. What is the shape of the array?

In [1]:
from numpy import genfromtxt
import numpy as np
import pandas as pd

In [2]:
arr = genfromtxt('tempratures.csv', delimiter=',', dtype=str)
# even header is counted
arr.shape

(52, 3)

### Part b)
Calculate the average temperature for each city. What is the average temperature for each city
in the dataset?

In [10]:
los = []
mia = []
ny = []
for i in range(52):
    if arr[i][1] == 'Los Angeles':
        los.append(float(arr[i][2]))

    elif arr[i][1] == 'New York':
        ny.append(float(arr[i][2]))

    elif arr[i][1] == 'Miami':
        mia.append(float(arr[i][2]))

lsT = np.mean(los)
miaT = np.mean(mia)
nyT = np.mean(ny)
print('the average temperature for Los Angeles', lsT)  
print('the average temperature for New York',nyT) 
print('the average temperature for Miami', miaT)

the average temperature for Los Angeles 20.529411764705884
the average temperature for New York 0.15882352941176478
the average temperature for Miami 22.61764705882353

### Part c)
Calculate the maximum temperature for each city.
What is the maximum temperature for each city in the dataset?

In [4]:
los = []
mia = []
ny = []
for i in range(52):
    if arr[i][1] == 'Los Angeles':
        los.append(float(arr[i][2]))

    elif arr[i][1] == 'New York':
        ny.append(float(arr[i][2]))

    elif arr[i][1] == 'Miami':
        mia.append(float(arr[i][2]))

print('the maximum temperature for Los Angeles', np.max(los))  
print('the maximum temperature for New York', np.max(ny)) 
print('the maximum temperature for Miami', np.max(mia))

the maximum temperature for Los Angeles 24.4
the maximum temperature for New York 5.8
the maximum temperature for Miami 25.8

## 2. Pandas Tasks :

### Part a)
Load the temperatures.csv file into a Pandas DataFrame. What is the shape of the DataFrame?

In [5]:
df = pd.read_csv('tempratures.csv')
# pandas skips the header of table 
print(df.shape)

(51, 3)

### Part b)
Calculate the median temperature for each city. What is the median temperature for each city
in the dataset?

In [6]:

la_df = df.loc[df['city'] == 'Los Angeles']
losM = la_df['temperature'].median()

ny_df = df.loc[df['city'] == 'New York']
newM = ny_df['temperature'].median()

mi_df = df.loc[df['city'] == 'Miami']
miaM = mi_df['temperature'].median()

print('the maximum temperature for Los Angeles is: ', losM)  
print('the maximum temperature for New York is: ', newM) 
print('the maximum temperature for Miami is: ', miaM)

the maximum temperature for Los Angeles is:  20.5
the maximum temperature for New York is:  0.5
the maximum temperature for Miami is:  22.6

### Part c)
Calculate the daily temperature range for each year. What is the difference between the
maximum and minimum temperature for each city in the dataset?

In [7]:
yearT = df['temperature'].mean()

la_df = df.loc[df['city'] == 'Los Angeles']
losD = la_df['temperature'].max() - la_df['temperature'].min()

ny_df = df.loc[df['city'] == 'New York']
newD = ny_df['temperature'].max() - ny_df['temperature'].min()

mi_df = df.loc[df['city'] == 'Miami']
miaD = mi_df['temperature'].max() - ny_df['temperature'].min()

print('the daily temperature range for each year is: ', yearT) 
print('the maximum temperature for Los Angeles is: ', losD)  
print('the maximum temperature for New York is: ', newD) 
print('the maximum temperature for Miami is: ', miaD)

the daily temperature range for each year is:  14.435294117647056
the maximum temperature for Los Angeles is:  8.499999999999998
the maximum temperature for New York is:  13.1
the maximum temperature for Miami is:  33.1

### 3. Bonus Task :

Merge the temperatures.csv file with a second CSV file called cities.csv which contains information about the cities.

The two files can be merged on the common column city. Once merged, create a new column in the resulting

DataFrame which indicates whether the temperature was above or below the average temperature for that city.

In [17]:
df1 = pd.read_csv('tempratures.csv')
df2 = pd.read_csv('cities.csv')
df3 = df1.merge(df2)
print(df3.shape)
losT = np.mean(los)
nyT = np.mean(ny)
df3['is above'] = ""
for i in range (34):
    if df3['city'][i] == 'Los Angeles':
        if df3['temperature'][i]>= lsT:
            df3['is above'][i] = 'yes'
        else:
            df3['is above'][i] = 'No'    

    if df3['city'][i] == 'New York':
        if df3['temperature'][i]>= nyT:
            df3['is above'][i] = 'yes'
        else:
            df3['is above'][i] = 'No' 

    if df3['city'][i] == 'Miami':
        if df3['temperature'][i]>= miaT:
            df3['is above'][i] = 'yes'
        else:
            df3['is above'][i] = 'No'         
print(df3)

(34, 6)
          date      city  temperature country  latitude  longitude is above
0   2022-01-01  New York          0.5     USA   40.7128   -74.0060      yes
1   2022-01-02  New York          2.3     USA   40.7128   -74.0060      yes
2   2022-01-03  New York          4.8     USA   40.7128   -74.0060      yes
3   2022-01-04  New York          3.2     USA   40.7128   -74.0060      yes
4   2022-01-05  New York         -1.9     USA   40.7128   -74.0060       No
5   2022-01-06  New York         -2.1     USA   40.7128   -74.0060       No
6   2022-01-07  New York          1.3     USA   40.7128   -74.0060      yes
7   2022-01-08  New York          4.2     USA   40.7128   -74.0060      yes
8   2022-01-09  New York          5.8     USA   40.7128   -74.0060      yes
9   2022-01-10  New York         -1.1     USA   40.7128   -74.0060       No
10  2022-01-11  New York         -4.6     USA   40.7128   -74.0060       No
11  2022-01-12  New York         -7.3     USA   40.7128   -74.0060       No
12  2022-01-13  New York         -2.4     USA   40.7128   -74.0060       No
13  2022-01-14  New York          1.5     USA   40.7128   -74.0060      yes
14  2022-01-15  New York          2.1     USA   40.7128   -74.0060      yes
15  2022-01-16  New York         -0.9     USA   40.7128   -74.0060       No
16  2022-01-17  New York         -2.7     USA   40.7128   -74.0060       No
17  2022-01-01     Miami         24.7     USA   25.7617   -80.1918      yes
18  2022-01-02     Miami         22.9     USA   25.7617   -80.1918      yes
19  2022-01-03     Miami         21.2     USA   25.7617   -80.1918       No
20  2022-01-04     Miami         23.5     USA   25.7617   -80.1918      yes
21  2022-01-05     Miami         20.1     USA   25.7617   -80.1918       No
22  2022-01-06     Miami         25.3     USA   25.7617   -80.1918      yes
23  2022-01-07     Miami         21.8     USA   25.7617   -80.1918       No
24  2022-01-08     Miami         22.4     USA   25.7617   -80.1918       No
25  2022-01-09     Miami         20.5     USA   25.7617   -80.1918       No
26  2022-01-10     Miami         23.1     USA   25.7617   -80.1918      yes
27  2022-01-11     Miami         25.8     USA   25.7617   -80.1918      yes
28  2022-01-12     Miami         22.6     USA   25.7617   -80.1918       No
29  2022-01-13     Miami         19.7     USA   25.7617   -80.1918       No
30  2022-01-14     Miami         20.2     USA   25.7617   -80.1918       No
31  2022-01-15     Miami         21.5     USA   25.7617   -80.1918       No
32  2022-01-16     Miami         23.9     USA   25.7617   -80.1918      yes
33  2022-01-17     Miami         25.3     USA   25.7617   -80.1918      yes

/tmp/ipykernel_13015/497125077.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['is above'][i] = 'yes'
/tmp/ipykernel_13015/497125077.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['is above'][i] = 'No'
/tmp/ipykernel_13015/497125077.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['is above'][i] = 'yes'
/tmp/ipykernel_13015/497125077.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['is above'][i] = 'No'

## Conclusion for this problem
Write a conclusion and references which you've used in your homework