# Significant Figures Title
__Author__ : Sara sadat nasr + 99222109

__Course__ : Undergraduate Numerical Analysis Course

In [9]:
import pandas as pd
import math

## Problem 1
Assume we use $f(x) = x(\sqrt(x + 1) -\sqrt(x))$ for computing error of losing significant figures for big xs.

compute errors for six figures.

In [43]:
def exact1(x):
    result = x * (math.sqrt(x+1) - math.sqrt(x))
    return result

In [44]:
def approximate1(x):
    result = round(exact1(x), 6)
    return result

In [49]:
def exError1(x):
    result = abs(exact1(x)-approximate1(x))
    return result

In [46]:
def reError1(x):
    result = exError1(x)/exact1(x)
    return result

In [50]:
def sumTrans1(x):
    result = x /(math.sqrt(x+1) + math.sqrt(x+1))
    return result

In [52]:
x = [1, 10, 100, 1000, 10000, 100000]
ex = []
apr = []
exE = [] 
reE = []
sT = []

for i in x:
    ex.append(exact1(i))
    apr.append( approximate1(i))
    exE.append(exError1(i))
    reE.append(reError1(i))
    sT.append(sumTrans1(i))

data = {'x': x, 'Exact': ex, 'Approximate': apr , 'Exact Error': exE, 'Relative Error': reE, 'Sum Transformation':sT}
df = pd.DataFrame(data)

In [53]:
df

,x,Exact,Approximate,Exact Error,Relative Error,Sum Transformation
0,1,0.414214,0.414214,4.376269e-07,1.056525e-06,0.353553
1,10,1.543471,1.543471,3.018702e-07,1.955788e-07,1.507557
2,100,4.987562,4.987562,1.120890e-07,2.247370e-08,4.975186
3,1000,15.807437,15.807437,4.289576e-07,2.713644e-08,15.803489
4,10000,49.998750,49.998750,6.248544e-08,1.249740e-09,49.997500
5,100000,158.113488,158.113488,2.744137e-07,1.735549e-09,158.113092

## Problem 2

(a) Compute rounding of $\sqrt 2,\sqrt 3 $ and $\sqrt 23 $ with three precise figures.

In [54]:
print(round(math.sqrt(2), 3))
print(round(math.sqrt(3), 3))
print(round(math.sqrt(23), 3))

1.414
1.732
4.796

(b) Compute rounding of $\sqrt 2,\sqrt 3 $ and $\sqrt 23 $ with four precise figures.

In [55]:
print(round(math.sqrt(2), 4))
print(round(math.sqrt(3), 4))
print(round(math.sqrt(23), 4))

1.4142
1.7321
4.7958

(c) Compute Error for each of them in above sections

In [59]:
for i in [2,3,23]:
    rounded = round(math.sqrt(i), 3)
    real = math.sqrt(i)
    error = abs(real-rounded)
    print('the error for square root of ',i,' with three precise figures is',error)

the error for square root of  2  with three precise figures is 0.00021356237309522186
the error for square root of  3  with three precise figures is 5.0807568877209164e-05
the error for square root of  23  with three precise figures is 0.0001684766872811494

In [60]:
for i in [2,3,23]:
    rounded = round(math.sqrt(i), 4)
    real = math.sqrt(i)
    error = abs(real-rounded)
    print('the error for square root of ',i,' with four precise figures is',error)

the error for square root of  2  with four precise figures is 1.3562373095243885e-05
the error for square root of  3  with four precise figures is 4.919243112277982e-05
the error for square root of  23  with four precise figures is 3.152331271927267e-05

(d) Consider we use f(x) = $\frac{1âˆ’cos(x)}{x^2}$ for computing error of losing significant figures for small xs.

In [61]:
def exact2(x):
    result = (1-math.cos(x)) / (x**2)
    return result

In [62]:
def approximate2(x):
    result = round(exact2(x), 4)
    return result

In [63]:
def exError2(x):
    result = abs(exact2(x)-approximate2(x))
    return result

In [64]:
def reError2(x):
    result = exError2(x) / exact2(x)
    return result

In [65]:
def sumTrans2(x):
    result = (math.sin(x)**2) /((x**2)*(1 + math.cos(x)))
    return result

In [68]:
x = [1, 0.1, 0.001, 0.0001, 0.00001, 0.000001]
ex = []
apr = []
exE = [] 
reE = []
sT = []

for i in x:
    ex.append(exact2(i))
    apr.append( approximate2(i))
    exE.append(exError2(i))
    reE.append(reError2(i))
    sT.append(sumTrans2(i))

data = {'x': x, 'Exact': ex, 'Approximate': apr , 'Exact Error': exE, 'Relative Error': reE, 'Sum Transformation':sT}
df = pd.DataFrame(data)

In [69]:
df

,x,Exact,Approximate,Exact Error,Relative Error,Sum Transformation
0,1.000000,0.459698,0.4597,2.305868e-06,5.016053e-06,0.459698
1,0.100000,0.499583,0.4996,1.652780e-05,3.308317e-05,0.499583
2,0.001000,0.500000,0.5000,4.167450e-08,8.334900e-08,0.500000
3,0.000100,0.500000,0.5000,3.038735e-09,6.077471e-09,0.500000
4,0.000010,0.500000,0.5000,4.137019e-08,8.274036e-08,0.500000
5,0.000001,0.500044,0.5000,4.445029e-05,8.889268e-05,0.500000

## Conclusion for this problems
In this session, we studied error and its types. For example, absolute error,

which can be easily calculated, returns the difference between the actual value and the estimated value.
 
This makes us understand how far we are from the ideal value, or relative error, the ratio of absolute error to the actual value.
  
which gives a better sense of accuracy on different scales. In the end, it becomes a compound union, which solves the problem of reducing meaningful digits.